.container_services{
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
}
.container_services .card{
    width:31%;
   background: var(--color-bg-variant);
    gap: 10px;
    padding: 50px 40px;
    border-radius: 1rem;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container_services .card:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.container_services .card .icon{
  font-size: 60px;
   margin-bottom: 20px;
    color:var(--color-primary) ;
}
.container_services .card h3{
   margin-bottom: 20px;
}
.container_services .card p{
    font-size: 14px;
}

/* responsive */
@media(max-width:1024px){
.container_services .card{
    width: 48%;
    margin-bottom: 40px;
}
}
@media(max-width:600px){
.container_services .card{
    width: 100%;
}

}